/*stylesheet*/

html,body{
	width: 100%;
	height: 100%;
}

body{
	background-color: hsl(216, 12%, 8%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.feedback-card{
	height: auto;
	width: 30vw;
	background-color: hsl(213, 19%, 18%);
	border-radius: 22px;
	padding: 24px;
}

.star{
	background: url('../images/icon-star.svg') center center no-repeat;
	background-size: 40%;	
	width: 44px;
	height: 44px;	
	background-color:  hsl(216, 14%, 15%);
	border-radius: 19px;
}

.feedback-card .text-card{
	margin-top: 32px;
	width: 85%;
}

.feedback-card .text-card h1{
	color: hsl(0, 0%, 100%);
	font-weight: 700;
}

.feedback-card .text-card p{
	color: hsl(217, 12%, 63%);
	font-weight: 500;
	margin-top: 16px;
	font-size: 15px;
}

.feedback-card  .box-label{
	margin-top: 32px;
	
}

.box-label label{
	color: hsl(216, 12%, 54%);
	background-color: hsl(216, 14%, 15%);
	padding: 13px 19px 13px 19px;
	border-radius: 26px;
	margin-right: 20px;
	transition: .1s ease-in-out;
}

.feedback-card .box-label label:hover{
	background-color: hsl(216, 12%, 54%);
	color: hsl(0, 0%, 100%);
}

.feedback-card .box-label label:last-of-type{
	margin-right: 0;
}

.feedback-card .box-label .selected-radio-feedback{
	background-color: hsl(25, 97%, 53%)!important;
	color: hsl(0, 0%, 100%);
}

.btn-submit{
	background-color: hsl(25, 97%, 53%);
	border: none;
	display: block;
	width: 100%;
	padding: 12px;
	border-radius: 18px;
	margin-top: 38px;
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: .1s ease-in-out;
}

.btn-submit:hover{
	background-color: hsl(0, 0%, 100%);
	color: hsl(25, 97%, 53%)
}


.attribution { 
	font-size: 11px; 
	position: absolute;
	bottom: 2%;
	left: 2%; 
	color: yellow;
}
.attribution a { 
	color: gray; 
}

.box-radio{
	display: none;
}

